version: "3"

services: 
    db:
        image: postgres
        container_name: db
        volumes:
            - ./data/db:/var/lib/postgresql/data
        environment:
            - POSTGRES_DB=user_reviews
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
        ports:
            - 5432:5432
    server:
        build: .
        restart: on-failure
        container_name: server
        ports:
            - "5000:5000"
        volumes:
            - .:/code
        environment:
            FLASK_ENV: development
            FLASK_APP: app.py
            DATABASE_URL: postgresql://postgres:postgres@db:5432/user_reviews
        depends_on:
            - db